<!DOCTYPE html>

<html>
    <head>
        <title>Homepage</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% load static %}
        <link rel='stylesheet' href="{% static 'css/homestyles.css' %}">

    </head>

    <body>

        <header id="heading">
                <h1> Tubular Terriers</h1>
        </header>
        

    {%block todoHomepage %} {% endblock %}

    <div class="clr"> </div>
        <footer id="footstyle">
            Created by: Tubular Terriers
        </footer>

    </body>

</html>
